extends layout

block content
  a(href='/inventory/category/create') Create a New Category

  h2 Category: #{category.name} 

  p #{category.description}
  
  div
    h4 Available Items
    ul
      each grocery in grocery_list
        li 
          a(href=grocery.url) #{grocery.name}
      else
        li This category currently has no items

  p
    button
      a(href=category.url+'/delete') Delete Category
    button
      a(href=category.url+'/update') Update Category