extends layout

block content
  h2 #{title}: #{grocery.name}
  p #[strong Description: ] #{grocery.description}
  p #[strong Price: ] #{grocery.price_format}
  p #[strong Current Inventory: ] #{grocery.inventory}
  if grocery.plu != ''
    p #[strong Produce PLU: ] #{grocery.plu}

  div #[strong Category: ] 
    a(href=grocery.category.url) #{grocery.category.name}
  div #[strong Location: ] 
    a(href=grocery.location.url) #{grocery.location.name}

  p #[strong Do you really want to delete this grocery?]

    form(method='POST', action='')
      div
        input(type='hidden', name='groceryid', require='true', value=grocery._id)
      
      button  
        a(href=grocery.url) Cancel
      button(type='submit') Delete

