extends layout

block content
  h2 #{title}: #{grocery.name}

  if grocery_image && grocery_image.length !== 0
    img(src='data:image/jpeg;base64,' + grocery_image[0].data.toString('base64'), alt=grocery.name + ' image2', width= 150, length=200)
  else if grocery.imagelink && grocery.imagelink !== ''
    img(src=grocery.imagelink, alt=grocery.name + ' image1', width=200, length=300)
  else
    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png', alt='no image available', width=100, length=100)
  p #[strong Description: ] #{grocery.description}
  p #[strong Price: ] #{grocery.price_format}
  p #[strong Current Inventory: ] #{grocery.inventory}
  if grocery.plu != ''
    p #[strong Produce PLU: ] #{grocery.plu}

  div #[strong Category: ] 
    a(href=grocery.category.url) #{grocery.category.name}
  div #[strong Location: ] 
    a(href=grocery.location.url) #{grocery.location.name}

  p #[strong Do you really want to delete this grocery?]

    form(method='POST', action='')
      div
        input(type='hidden', name='groceryid', require='true', value=grocery._id)
      
      button  
        a(href=grocery.url) Cancel
      button(type='submit') Delete

